@charset "UTF-8";



header {
	background-color : #1a2727;
	height : 140px;

}

.error_message{
	color : red;
	text-align: center;
	
}


#ban{
	width: 100%;
	
}


body {
	 box-sizing: content-box;
	 width: 1280px;

	 
	  margin-left: auto;
  	margin-right: auto;
	 background-color: #2F4F4F;
}

select, textarea {
	color : white;
	
	border: none;
	width : 235px;
	background-color:  #2F4F4F;
	 border: 1px solid black;
 box-shadow: 0 16px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#site-search{
	 color: black;
	 background-color:white;
	}
	
input, button, select {
    background-color:  #2F4F4F;
       border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    padding: 5px 25px;
    border: 1px solid black;
 box-shadow: 0 16px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}




.button:hover {
	 background-color:  #3b6363;

   
}





nav, h1, h2, h3, h4 {
	color : white;
	
}

ul {
	
	list-style: none;
}

a{
	color : #aabfbf;
}

a:hover {
  color: #81b4b4;
}

h1{
	padding-top : 20px;
	padding-bottom : 20px;
	text-align: center;
	
}

h4 {
	text-align: center;
	padding : 10px;
font-size: 20px;
 border: 1px solid black;
  background-color:  #2F4F4F;
  width : 30%;
 
}

h4:hover{
	background-color: black;
	 background-color:  #3b6363;
	 box-shadow: 0 16px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav {
	display : flex;
	 flex-direction: row;
	justify-content: space-around;
	padding-bottom : 50px;
	padding-left : 10px;
	
	
} 


.imgCategory {
width: 200px; /* largeur à spécifier */
height: 320px; /* longueur à spécifier */
}

#menu{
	display : flex;
	flex-direction: row;
	justify-content: space-around;
	
	  border: 1px solid black;
	padding-top:50px;
	padding-bottom:50px;
	background-color: #263f3f;
}


      .example {
      cursor: pointer;
      height: 320px;
      position: relative;
      overflow: hidden;
      width: 200px;
      text-align:center;
       border: 1px solid black;
      	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
      }
      .example .fadedbox {
      background-color: #2F4F4F;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      opacity: 0;
      width: 200px;
      height: 100px;
      padding: 130px 0px;
      
      }
      .example:hover .fadedbox { opacity: 0.8; }
      .example .text {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      transform: translateY(30px);
      -webkit-transform: translateY(30px);
      }
      .example .title {
      text-align: center;
      font-size: 1.5em;
      text-transform: uppercase;
      opacity: 0;
      transition-delay: 0.2s;
      transition-duration: 0.3s;
      }
      .example:hover .title,
      .example:focus .title {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      }

.textAlign {
	margin-top : 40px;
	text-align: center ;
}

.form {
	
	padding : 40px;
	margin-top : 40px;
	
    color: white;
    
    margin-right : auto;
    margin-left : auto;
    
    display : flex;
    flex-direction : column;
	 justify-content: space-around;
    width: 240px;
    border: 1px solid black;
     
	background-color: #263f3f;
    
}

.btn {
	margin-top : 20px;
	display : flex;
    flex-direction :row;
    justify-content: space-around; }
    
.listAuction {

width: 550px;
	 border: 1px solid black;
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
	 margin: 12px;
	 
	 padding-left : 60px;
	 padding-bottom : 25px;
	 
	
	
}    
 
 
 #AuctionsAll {

     margin-bottom: 90px;
    color: white;
    background-color: #263f3f;
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    justify-content: space-arround;
    flex-wrap: wrap;
    

 
 }   
 
a.listAuction {
	color : black;
}
 
 
 

.recherche {
	margin-bottom: 50px;
}







#article{
	padding : 40px;
	margin-top : 40px;
	
    color: white;
    
    margin-right : auto;
    margin-left : auto;
    
    display : flex;
    flex-direction : column;
	 justify-content: space-around;
    width: 240px;
    border: 1px solid black;
     
	background-color: #263f3f;
}
